<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>AdminPanel</title>
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <link href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
    {% for _, jsurl in ipairs(jsurls) do %}
        <script src={{ jsurl }}></script>
    {% end %}
</head>
<body>
    <div class="ui left vertical visible inverted sidebar labeled icon menu">
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>
        <a class="item">
            <i class="smile icon"></i>
            Friends
        </a>
    </div>
